body{
    background: url(background.jpg) ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

hr{
    width: 500px;
    height: 2px;
    background-color: skyblue;
    border: 0;
}

#game-board{
    width: 450px;
    height: 450px;
    margin: 0 auto;

    background-color: skyblue;
    color: white;
    border: 6px solid lightblue;
    border-radius: 10px;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game-cell{
    border: 6px solid lightblue;
    border-radius: 2px;
    font-size: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.winning-game-cell{
    background-color: white;
    color: skyblue;
}

#game-restart-button{
    height: 50px;
    width: 150px;
    border: 5px solid lightblue;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}